<body style="background:#FEFCD7;height:200px;">
<h1 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#99CC99;">Making and Sowing Seed Ball Gardens</h1>
<h3 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#009966;">Seed balls are handmade compressed balls of seed, compost, clay, and water. They are portable habitats awaiting rain to stimulate growth and have been used worldwide to establish and restore habitats.</h3>
<h3 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#009966;">Seed balls may have special themes depending upon the seeds used. Imagine creating a native wildflower meadow on the schoolyard with seed balls.  Or, surprise mother on her special day with a box of seed balls containing her favorite herb or perennial seeds.</h3>
<h2 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#9BD7D5;">Seed Ball Recipe</h2>
<ul style="list-style-desc:square;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Pour 1 part seed into bowl. Seed used depends on theme or project.</li>
	<li>Add 3parts compost or humus mix with fingers to coat seeds with compost.</li>
	<li>Add 5 parts powdered red terra cotta clay blending well into the compost/seed mixture.</li>
	<li>Slowly add 2 parts water, just enough to make a cookie dough texture.</li>
	<li>Mixture should hold together without sticking to hands.</li>
	<li>Pinch off pieces and roll into 1” diameter balls.</li>
	<li>Dry seeds in full sun for 24-48 hours.</li>
	<li>Since seeds are already planted, toss on the surface at a density of 10 per square meter.</li>
	<li>Wait for a good soaking rain.</li>
</ul>
</body>