<body style="background:#FEFCD7;height:200px;">
<h1 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#99CC99;">Building a Bean Teepee</h1>
<ul style="list-style-desc:disc;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Prepare the soil in a sunny location.</li>
	<li>Use flour to mark a circle with a 4-foot diameter.</li>
	<li>Divide the circle into 8 pie segments.</li>
	<li>Arrange and insert eight 8-foot bamboo poles 6-12 inches deep into the soil.</li>
	<li>Tie the poles together tightly with twine 4 inches from the top.</li> 
	<li>Stabilize the frame and support the beans by wrapping twine around the entire teepee every 12 inches from the ground upward.</li>
	<li>Plant seeds according to package directions around the base of the teepee.
	<li>Water after planting.</li> 
</ul>
</h1>
<h2 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#9BD7D5;">Recommended seeds:</h2>
<ul style="list-style-desc:square;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Pole beans</li>
	<li>Scarlet runner beans</li>
	<li>Hyacinth beans</li>
	<li>Morning glories</li>
	<li>Sweet peas</li>
</ul>
</body>