<body style="background:#FEFCD7;height:200px;">
<h1 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#99CC99;">Cat Grass Snacks</h1>
<ul style="list-style-desc:disc;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Purchase organic oat, rye, wheat, and barley grass seeds at health food store.</li>
	<li>Sow grass seed in individual bowls or cups filled with potting soil.</li>
	<li>Cats enjoy munching on the grass.</li> 
	<li>Consider a class project of growing grass snacks for a cat adoption center.</li>
</ul>
</h1>
</body>
