/* common page styles */
	body
	{	background: #DEE79C;
	}
	#dtop{
		width:875px;
		height:10px;
		display: inline;
		float:left;
		margin-left: 40px;
		background-color: #FF9966;
	}
	#all
	{	width: 950px;
		min-width: 900px;
		background: #AFCF92;
		height: 1380px;
		margin-left:auto;
		margin-right: auto;		
		padding-top: 20px;
		margin-top: 8px;
	}
	#header{
		width:875px;
		height:200px;
		margin-left: 40px;
	}
	#leftcontent{
	    display:inline;
		float:left;
		width: 875px;
		height: 951px;
		margin-left: 40px;
		background: #FFF5C3;
		margin-bottom: 0px;
		border-bottom: 7px solid white;
	}
	#h1caption{
		text-align: center;
		font-family: Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
		color:#99CC99;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	#gardencontent{
    background: #FEFCD7;
    margin-right:40px;
    margin-left: 40px;  
    height: 800px;
    margin-top: -15px;
   }
   #garden_ol li{
   	list-style-type: square;
   	color:#EC799A;
   	padding-top:10px;
   }
   #gardencontent a {
   	font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
    color:#009966;
    text-decoration: none;
    padding-left: 10px;
   }
   #gardencontent a:hover{
   	color:#FF9966;
   }
  #hr2{
    	border: 3px solid white;
    	margin-top:979px;
    	margin-left: 40px;
    	margin-right: 35px;
    	margin-bottom: 9px;
    }
 
    #dimg{
    	margin-top: -9px;
    	margin-left: 40px;
    	

    }
    #dcontact{
    	background-color: #FF9966;
    	margin-top: -169px;
    	margin-left: 240px;
    	width:400px;
    	height:150px;
    	color:white;
    	border-right: 2px solid white;
    	
    }
    #ulcontact{
    	margin-left: -10px;
    	margin-top: -10px;
    }
    #dfacebook{
    	background-color: #FF9966;
    	margin-top: -169px;
    	margin-left: 642px;
    	color:white;
    	width:273px;
    	height:150px;
    }
    #dfaceimage{
    	margin-top: -10px;
    	margin-left: 10px;
    	height:30px;
    	width:30px;
    }

	/* menu styles */
	#jsddm
	{	
		margin-top: 0px;
		margin-left: 0px;
	}

	#jsddm li
	{	float: left;
		list-style: none;
		font: 14px Tahoma, Arial;
	}

	#jsddm li a
	{	display: block;
		background: #669933;
		padding: 5px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		width: 100px;
		color: #EAFFED;
		white-space: nowrap;
		text-align: center}

	#jsddm li a:hover
	{	background: #668844;}
		
	#jsddm li ul
	{ 		margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white
	}
		
	#jsddm li ul li
	{	float: none;
		display: inline;
	}
			
	#jsddm li ul li a
	{	
		width: auto;
		background: #A9C251;
		color: #EAFFED;
		font: 14px Tahoma, Arial;
	}
	#jsddm li ul li a:hover
	{	
		background: #8EA344;
	}