body {
	background: #1d1d1d;
	margin: 0; padding: 0;
}
* {margin: 0; padding: 0; outline: none;}
img {border: none;}

.container {
	overflow: hidden;
	width: 854px;
	margin: 0 auto;
}

#main {
	padding: 10px;
	background: #FEEA65;
}
a {color: #fff;}

/*--Main Image Preview--*/
.main_image {
	width: 600px; 
	height: 456px;
	float: left;
	position: relative;
	overflow: hidden;
	color: #9BD7D5;
}
.main_image h2 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 5px;	
	padding: 10px;
}
.main_image p {
	font-size: 1.2em;
	padding: 10px;	
	margin: 0;
	line-height: 1.6em;
}

.main_image .desc{
	position: absolute;
	bottom: 0;	left: 0;
	width: 100%;
	display: none;
}
.main_image .block{
	width: 100%;
	background: white;
	height:35px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}
.main_image a.collapse {
	height: 27px; width: 93px;
	text-indent: -99999px;
	position: absolute; 
	top: -27px; right: 20px; 
}
.main_image a.show {background-position: left bottom;} 


.image_thumb {
	float: left;
	width: 250px;
	background: #f0f0f0;
	border-right: 2px solid white;
	border-top: 2px solid white;
	height:454px;
	overflow:scroll;
	overflow-x:hidden;
    
}
.image_thumb img { 
	padding: 5px; 
	background: #64BD4F; 
	float: left;
}
.image_thumb ul {
	margin: 0; padding: 0;
	list-style: none;
}
.image_thumb ul li{
	margin: 0; padding: 12px 10px;
	background: #DCF0F7 url(images/nav_a.gif) repeat-x;
	width: 230px;
	float: left;
	border-bottom: 1px solid #5E9DC8;
	border-top: 1px solid #fff;
	border-right: 1px solid #ccc;
}


.image_thumb ul li.hover {
	background: #ACD1E9;
	cursor: pointer;
}
.image_thumb ul li.active {
	background: white;
	cursor: default;
}
html .image_thumb ul li h2 {
	font-size: 50px; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#669900;
	margin: 5px 0; padding: 0;
}
.image_thumb ul li .block {
	float: left; 
	margin-top:-5px; 
	margin-left: 5px;
	padding: 0;
	width: 150px;
	overflow-y:show;
}	
.image_thumb ul li p{display: none;}

.new_a{
	font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;
	color: #FF5732;
	font-size: 20px;
	text-decoration: none;
}

.hyperlink{
	text-decoration: none;
	font-size: 16px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #009966;
}
.hyperlink:hover{
	color:#72CBDB;
}
#hyper_small{
	font-size:30px;
	color:#FF9966;
	text-decoration: none;
}
.new_a:hover{
	color:#FF9966;


}
