{% load staticfiles %}
   
    <link rel="stylesheet" type="text/css" href="{% static 'lessonideal/mystyle.css' %}" />
    <link rel="shortcut icon" href="{% static "mainpage/images/icon1.jpg" %}" />
    <script type="text/javascript" src="{% static 'scgarden/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scgarden/js/imagescript.js' %}"></script>
    <script type="text/javascript" src="{% static 'scgarden/js/jssor.js' %}"></script>
    <script type="text/javascript" src="{% static 'scgarden/js/myscript.js' %}" ></script>
    <script type="text/javascript" >
   function newPopup(url) {
    popupWindow = window.open(
        url,'popUpWindow','height=500,width=500,left=400,top=200,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
   </script>

<div id="all">
    <div id="dtop"></div>
    <img id="header" src="{% static 'scgarden/images/header.jpg'%}">
{% if pageModule_text_list %}
    <ul id="jsddm">
    {% for module in pageModule_text_list %}
        
        <li><a href="../{{ module.url_text}}">{{ module.pageModule_text }}</a>
        	<ul>
        		{% for singleModule in module.singlemodule_set.all %}
        		<li><a href="../{{singleModule.singleModule_url_text}}">{{ singleModule.singleModule_text }}</a></li>
        		{% endfor %}
        	</ul>
        </li>
    {% endfor %}
    </ul>
<div id="leftcontent">
    <h1 id="h1caption">Lesson Ideas</h1>
    <div id="idealcontent">
        {% for each_image in image_context %}
            <div class="eachImage">   
            <a>            
                <img class="imagedropshadow" src="{{each_image.images.large.url}}" alt="{{each_image.image_text}}" width="200px" height="200px">
                {% if each_image.url_text %}
                    <a class="hyper" href="JavaScript:newPopup('http://{{ request.get_host }}/{{each_image.url_text}}');">{{each_image.image_text}}</a>
                {% else %}
                    <a class="nonhyper">{{each_image.image_text}}</a>
                {% endif %}
            </a>
            </div>
        {% endfor %}
    </div>
</div>
<div id="dimg"> <img src="{% static 'mainpage/images/map.jpg'%}" width="200px" height="150px"></div> 
    <div id="dcontact"><h3>&nbsp;&nbsp;Contact Information</h3>
        <ul id="ulcontact">
            <li>Name: Dr. Arlene Marturano</li>
            <li>Email: scgardenlearning@gmail.com </li>
        </ul>
    </div>

    <div id="dfacebook"><h3>&nbsp;&nbsp;Find us on Facebook</h3>
        <a href="https://www.facebook.com/pages/South-Carolina-Garden-Based-Learning-Network/190464384322916"><img id="dfaceimage" src="{% static 'mainpage/images/facebook.png'%}" id="imgfacebook"></a>
    </div>
{% else %}
    <p>Loading Error.</p>
{% endif %}
</div>