<body style="background:#FEFCD7;height:200px;">
<h1 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#99CC99;">Growing a Pizza Garden</h1>
<ul style="list-style-desc:disc;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Vegetables need a sunny growing spot.</li>
	<li>After preparing the soil, outline a circular bed with flour.</li>
	<li>Divide the circle into pizza wedges. </li> 
	<li>Plant ingredients as seeds or bedding plants spacing according to plant needs.</li>
	<li>Water thoroughly.</li>
</ul>
</h1>
<h2 style="font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif; color:#9BD7D5;">Suggested ingredients:</h2>
<ul style="list-style-desc:square;font-family:Trebuchet MS, Verdana, Helvetica, Arial, sans-serif;color:#FF9966;">
	<li>Basil</li>
	<li>Oregano</li>
	<li>Garlic chives</li>
	<li>Italian parsley</li>
	<li>Marjoram</li>
	<li>Onions</li>
	<li>Peppers</li>
	<li>Tomatoes</li>
</ul>
</body>